@use '../foundations/variables' as *;

.p-top{
    h2{
        font-size: rem(24);
        text-align: center;
        margin-bottom: rem(40);
        @include mq{
            font-size: rem(32);
            margin-bottom: rem(48);
        }
    }
    &-kv{
        width: 100%;
    }
    &-concept{
        text-align: center;
        &__img{
            width: 100%;
            margin-bottom: rem(40);
            @include mq{
                margin-bottom: rem(48);
            }
        }
        &__catch{
            font-size: rem(16);
            line-height: 1.75;
            margin-bottom: rem(24);
            @include mq{
                margin-bottom: rem(32);
                font-size: rem(20);
            }
        }
        &__text{
            margin-bottom: rem(40);
            @include mq{
                margin-bottom: rem(48);
            }
            .pc-only{
                display: none;
                @include mq{
                    display: inline;
                }
            }
        }
    }
}

// ==================================================
// menu section
// ==================================================
.p-top-menu{
    background: url('../../img/bg-top-menu.jpg') no-repeat center / cover;
    color: $color-text-inverse;
    &__flex{
        @include mq{
            display: flex;
            gap: rem(62);
        }
    }
    &__drip{
        flex: 1;
    }
    &__espresso{
        flex: 1;
    }
    &__list-title{
        margin-bottom: rem(16);
        font-size: rem(18);
        @include mq{
            font-size: rem(20);
        }
    }
    &__list{
        margin-bottom: rem(40);
        @include mq{
            margin-bottom: rem(48);
        }
    }
    &__item{
        display: flex;
        justify-content: space-between;
        padding-block: rem(10);
        border-bottom: 1px solid;
        dt{
            font-weight: 400;
        }
        dd{
            font-family: $font-family-jp;
        }
        @include mq{
            padding-block: rem(8);
        }
    }
    &__btn{
        background-color: #fff;
        color: #000;
    }
}